.next-up-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 30px;

  .up-next-toggle {
    display: flex;
    align-items: center;

    span {
      margin-right: 20px;
    }
  }
}
